@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');

html{
  -webkit-font-smoothing: antialiased;
  -webkit-text-size: 100%;
  min-width: 400px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
}

* {
  box-sizing: border-box;
  list-style: none;
}

a{
  text-decoration: none;
  color: white;
}

a:hover{
  color: #aa88ff;
}

body {
  margin: 0;
  padding: 0;
  background-color: #313742;
  color: white;
  font-family: 'Verdana';
}

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #aa88ff;
  outline: 1px solid slategrey;
}


.overlay {
  position: absolute;
  top: 0px;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0,0,0,0.7);
  text-align: center;
}

.overlay-text {
  position: relative;
  top: 10px;
  font-family: 'Poppins';
  font-size: 15px;
}

.preview:hover .overlay{
  opacity: 0.85;
}

/* Footer */

.footer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 70px;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: space-between;
  background: #272928;
  font-family: 'Potta One';
}

.footer-information {
  padding: 20px;
  margin: auto;
}

.footer-information p{
  font-family: 'Verdana';
  color: darkgrey;
  font-size: 12px;
}

.footer-links {
  padding: 20px;
  margin: auto;
  font-family: 'Verdana'
}

.footer-links ul{
  padding: 0;
}

.footer-links ul li a{
  text-decoration: none;
  color: white;
}

.footer-links ul li a:hover{
  cursor: pointer;
  color: #aa88ff;
}

@media (max-width: 1024px){
  .invite-link {
    transform: scale(0);
  }
}
