@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Island+Moments&display=swap');

:root {
  --header-margin-top: 70px;
}

body {
  background-image: url('https://media.discordapp.net/attachments/924845584521789513/936459762885857290/myItMyimg.png'); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-blend-mode: overlay;
}

.main-content {
  display: flex;
  flex-wrap: wrap;
  padding-top: 2rem;
  justify-content: center;
  padding-bottom: 6rem;
}

.main-content-image img{
  max-width: 400px;
  width: 100%;
  height: auto;
  display: block;
  margin: auto;
  margin-right: 0px;
  transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
}

 .logo-image{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

.main-content-children {
  padding: 1rem;
  width: 50%;
  margin: auto;
  min-width: 400px;
  text-align: left;
  font-family: 'Poppins';
  vertical-align: center;
}

.main-content-children h1{
  text-align: left;
  font-family: 'Island Moments';
  font-size: 60px;
  margin: 0;
}

.main-content-children p{
  text-align: left;
  margin-top: 0px;
}

.main-content-buttons {
  display: flex;
  padding: 1rem 0rem;
}

.main-content-buttons li a{
  display: block;
  margin: 10px;
  margin-right: 20px;
  margin-left: 0px;
  padding: 10px;
  min-width: 100px;
  text-align: center;
  background-color: #272928;
  border-radius: 5px;
}

.main-content-buttons li a:hover{
  color: white;
  background-color: #aa88ff;
}

.main-features {
  margin: 0;
  display: block;
}

.wave-border {
  width: 100%;
  height: 100px;
  background-image: url('../images/wave.png');
}

.feature-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #272928;
}

.last-row{
  padding-bottom: 150px;
}

.feature-column{
  flex-grow: 1;
  padding: 1rem;
  width: 50%;
  margin: 10px;
  max-width: 400px;
  vertical-align: center;
}

.feature-column h1{
  font-family: 'Island Moments'
}

.feature-column p{
  text-align: justify;
}

.feature-column-image img{
  max-width: 400px;
  width: 100%;
  height: auto;
  display: block;
  margin: auto;
  transition: transform .5s ease;
}

.feature-column-image img:hover{
  cursor: pointer;
  transform: scale(1.05);
}


.main-links {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: center;
  padding-top: 6rem;
  max-width: 1200px;
  margin: 0 auto;
}

.link-container {
  margin: 20px;
  padding: 20px;
  max-width: 500px;
  border-radius: 10px;
  background-color: #272928;
  white-space: normal;
  transition: transform 0.5s ease;
}

.link-empty-child {
  width: 500px;
  margin: 0px 20px;
  padding: 0px 20px;
  height: 0px;
}

.link-container:hover{
  cursor: pointer;
  transform: scale(1.05);
}

.link-container h1{
  font-family: 'Island Moments';
  margin-top: 0;
  font-size: 20px;
}

.link-container p{
  color: darkgrey;
  font-size: 13px;
}

.link-button {
  margin: auto;
  padding: 8px;
  background-color: #DDA0DD;
  border-radius: 10px;
  font-family: 'Poppins';
  text-align: center;
  font-size: 15px
}

.link-container a:hover{
  color: white;
}

.link-button:hover{
  background-color: #EE82EE;
}

@media (max-width: 810px){
  .main-content-image {
    height: auto;
    margin: auto;
  }
  .main-content-children h1{
    text-align: center;
  }
  .main-content-children p{
    text-align: center;
  }
  .main-content-buttons li a{
    margin-left: 10px;
    margin-right: 10px;
  }
  
}



/* header */
header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 999999;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-margin-top, 50px);
  background-color: #343a40;
  transition: 0.8s;
  .content {
    width: 80%;
    display: flex;
    align-items: center;
    .goHome {
      white-space: nowrap;
      font-size: 1.25rem;
      margin-right: 10px;
      img {
        margin-right: 10px;
      }
    }
    .menu {
      width: 100%;
      .menuButton {
        display: none;
        cursor: pointer;
        width: 30px;
        height: 16px;
        padding: 10px;
        border-radius: 3px;
        border: 1px solid #ffffff1a;
        .style {
          position: relative;
          margin: 7px 0;
          &,
          &:after,
          &:before {
            transition-duration: 0.4s;
            background-color: #fff;
            width: 30px;
            height: 2px;
          }
          &:after,
          &:before {
            position: absolute;
            content: "";
          }
          &:after {
            top: -7px;
          }
          &:before {
            top: 7px;
          }
        }
        &:hover {
          opacity: 0.8;
        }
      }
      .content {
        > * {
          font-weight: 900;
          color: #7fd4d7;
          display: flex;
          padding: 10px;
          border-radius: 3px;
        }
      }
      &.open {
        .menuButton .style {
          height: 0 !important;
          &:after {
            top: 0;
            transform: rotate(-45deg);
          }
          &:before {
            top: 0;
            transform: rotate(45deg);
          }
        }
        .content {
          display: flex;
          z-index: 99999999;
          position: fixed;
          top: var(--header-margin-top, 0);
          bottom: 0;
          right: 0;
          width: 80%;
          flex-direction: column;
          background-color: #050505e1;
          justify-content: center;
          align-items: baseline;
          flex-direction: row;
          font-size: 16pt;
          > * {
            width: 100%;
            padding: 1em 0;
          }
        }
      }
    }
  }
  &.up {
    transition: 0.8s;
  }
  &.down {
    transition: 1s;
    top: -20% !important;
  }
  @media all and (max-width: 800px) {
    .content {
      justify-content: space-between;
    }
    .menu {
      width: auto !important;
      .content {
        display: none;
      }
      .menuButton {
        display: flex !important;
      }
    }
  }
}
/* footer */
footer {
  color: #cc99ff;
  font-size: 15pt;
  user-select: none;
  text-shadow: #000 0.1em 0.1em 0.2em;
  max-width: 90%;
  text-align: center;
}

/* air */
body.block .air {
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999;
  opacity: 0.5;
}
