body{
	background: radial-gradient(circle,#24246e,#06051f);
    height: 100vh;
}
@font-face{
    font-family: 王漢宗特圓體繁;
    src: url(王漢宗特圓體繁.ttf);
}
@font-face{
	font-family: 王漢宗中仿宋繁;
	src: url(王漢宗中仿宋繁.ttf);
}
h1,h2,h4,h5,h6{
    font-family: 王漢宗特圓體繁;
    color: white;
}
p,a,span,li,label{
	font-family: 王漢宗中仿宋繁;
	color: #f4f4f4;
}
a{
	color: #fff;
}
::selection{
	color: cyan;
}
::-moz-selection{
	color: cyan;
}
img{
	max-width:100%;
}


nav li{
	    margin: 0 13px;
}
.nav-item{
	padding: auto;
	margin: auto;
	text-align: center;
}
.nav-link{
	color: #fff;
    font-size: 16px;
}
#links{
	color: #fff;
}


h3{
	color: #fff;
}
#title{
	color: #fff;
	padding: 50px;

}
#sub-title{
	color: #fff;
	padding: -50px;
	margin: -90px 0 0 0;
}
#intro .jumbotron{
	background: url();
	background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    height: 70vh;
    margin-bottom: 0px;
}
#intro{
	padding: auto;
	margin: auto;
	text-align: center;
}
#intro .jumbotron.jumbotron2{
	height: 400px;
}
#intro .jumbotron .container{
	position:relative;
    top: 50%;
    transform: translate(0, -50%);
}
#intro .btn{
	margin-top: 20px;
}
.btn{
    background-color: blue;
    padding: 7px 28px;
    border-radius: 20px;
    border: none;
}
.btn:hover{
	opacity:0.8;
	background-color: blueviolet;
}
        
#second{
	padding: 80px 0px;
}
#second h3, #latest h3{
	margin-bottom: 70px;
	font-size: 32px;
}
#second img{
	border-radius: 100%;
    width: 108px;
}
#second h5{
	color: #ffcbcd;
	margin-top: 22px;
    font-size: 16px;
}
#second > .container{
	background-color: #252426;
}


h1.display-4{
	font-size: 50px;
	font-weight: bold;
	color: white;
}

p.lead{
	color: white;
	line-height: 31px;
}

footer{
	padding: 80px 0px
}

footer{
	border-top: 1px solid rgba(0,0,0,0.09);
}
footer img{
	margin-bottom: 30px;
}
footer h4{
	font-size: 20px;
    margin-bottom: 35px;

}
footer ul{
	list-style: none;
    padding: 0;
}
footer ul a{
	color: #707070;
}
footer a{
	color:#f05f5c;
}
footer a:hover{
	color:#f05f5c;
}
footer ul a:hover{
	color: #707070;
	text-decoration: none;
	opacity: 0.8;
}
footer ul li{
	margin-bottom: 10px;
}
footer ul{
	float: left;
    margin-right: 46px;
}


/*bots*/
#bot-name{
	color: #f4f4f4;
}
#bots .upper{
	position:relative;
}
#bots .innertext{
	position:absolute;
	bottom:20px;
	left:30px;
}
#bots .innertext span{
	background: rgba(255,255,255,0.3);
    padding: 5px 16px;
    border-radius: 30px;
}
#bots h4{
	font-size: 19px;
    margin-top: 18px;
}
#bots .lower{
	    padding: 22px;

}
#bots .col-md-4 .outer{
	box-shadow: 0 0 8px 0 rgba(0,0,0,0.08);
	padding: 0px;
	margin: 0 5px;
}
#bots .lower h3{
	font-size: 21px;
	margin-bottom: 20px;
}
#bots a{
	color:black;
}
#bots a{
	color:black;
	text-decoration: none;
}
#bots i{
	margin-right:5px;
}


#bots .thehead h3{
    margin-bottom: 7px;
    font-size: 32px;

}
#bots .thehead p{
    margin-bottom: 80px;


}
#bots .thehead .col-md-4 p{
	margin-bottom: 0px;
    margin-top: 25px;
}
#bots .thehead h3.notag{
	margin-bottom: 88px;
}
.card-header .btn,.card-header .btn:hover{
	background:none!important;
	color:black;
}
span{
	color: #ffcbcd;
}
/*bots*/


/*blog*/
.blog{
  flex-wrap: wrap;
  display: flex;
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
  border-radius: 10px;
  margin: 0 0 2rem 0;
  overflow: hidden;
  position: relative;
  color: #ffffff;
}
.blog_link{
	color: #fff;
}
.blog__title{
    font-size: 1.75rem;
	text-decoration: none;
	color: #f35bd7;
}
.blog__bar {
    width: 50px;
    height: 10px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #f35bd7;
    transition: width 0.2s ease;
}
.blog__text {
    padding: 1.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
}
.blog__preview-txt {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
    height: 100%;
}
#pageHeaderTitle{
	color: #f4f4f4;
}
pre[class*="language-"] {
    position: relative;
    overflow: auto;
  
    /* make space  */
    margin: 5px 0;
    padding: 1.75rem 0 1.75rem 1rem;
    border-radius: 10px;
  }
  
  pre[class*="language-"] button {
    position: absolute;
    top: 5px;
    right: 5px;
  
    font-size: 0.9rem;
    padding: 0.15rem;
    background-color: #828282;
  
    border: ridge 1px #7b7b7c;
    border-radius: 5px;
    text-shadow: #c4c4c4 0 0 2px;
  }
  
  pre[class*="language-"] button:hover {
    cursor: pointer;
    background-color: #bcbabb;
  }
  pre{
      background-color: #2d2d2d;
  }
  main {
    display: grid;
    max-width: 600px;
    margin: 20px auto;
  }
  
  h1 {
    font-size: 1.3rem;
  }
  
/*blog ends*/


/*mobile*/
@media only screen and (max-width: 768px) {
	#second h5 {
	margin-bottom: 50px;
}
#latest .col-md-4{
	margin-bottom: 60px;
}
footer h4 {
	font-size: 17px;
	margin-top: 30px;
	margin-bottom: 18px;
}
/*mobile ends*/
